<div class="audio-recorder-container">

  <div class="get-help-container">
      <h3>Need help with this phrase?</h3>
      <button class="get-help" (click)="getHelp()">Get Help</button>
  </div>
  
  <div class="help-text-container" *ngIf="helpText">
    <h4>Advice for properly saying "{{ phrase }}"</h4>
      <pre>{{ helpText }}</pre>
  </div>
  

<div class="phrase-container">
  <button class="try-new-phrase" (click)="setRandomPhrase()">New Phrase</button>
  <p>{{ phrase }}</p>
</div>
<div>
  <div class="recording-container">
    <div class="button-container">
      <button class="start" (click)="startRecording()">Start Recording</button>
      <button class="stop" (click)="stopRecording()">Stop Recording</button>
    </div>
    <div *ngIf="audioURL">Your recording: </div>
    <audio *ngIf="audioURL" [src]="audioURL" controls></audio>
  </div>
</div>
<div *ngIf="transcript">
  <h4>Transcript</h4>
  <p>{{ transcript }}</p>
</div>

<div *ngIf="wordMatches.length > 0">
  <h4>Word Matches</h4>
  {{wordMatches}}
</div>

<div *ngIf="wordConfidenceDetails.length > 0">
  <h4>Word Confidence Scores</h4>
  <ul>
    <li *ngFor="let detail of wordConfidenceDetails">
      {{ detail.word }}
      <div class="confidence-bar" 
           [ngStyle]="{ 'width': detail.confidence * 100 + '%', 'background-color': getColorForConfidence(detail.confidence) }">
        {{ formatDecimal(detail.confidence) }}
      </div>
    </li>
  </ul>
</div>



<div *ngIf="matchAccuracy >= 0">
  <h4>Match Accuracy</h4>
  <p>{{ matchAccuracy }}%</p>
</div>
</div>